{
  "mode": "af_packet",
  "hwcksum": true,
  "log_level": "trace",
  "gtppsc": true,
  "measure_upf": false,
  "cpiface": {
    "dnn": "internet",
    "hostname": "{{ upf_hostname }}",
    "enable_ue_ip_alloc": false,
    "http_port": "8080"
  }
}
